<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vivest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página de Teste Lottie</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="presentModal()" color="primary">Modal</ion-button>
    <ion-button (click)="presentToastWarning()" color="warning">Toast de Alerta</ion-button>
    <ion-button (click)="presentToastSuccess()" color="success">Toast de Sucesso</ion-button>
    <ion-button (click)="presentToastError()" color="danger">Toast de Error</ion-button>
  </div>
</ion-content>
